/* 
 * Links 
 */
a,
a:focus,
a:hover {
  color: #fff;
  font-family: 'Open Sans', sans-serif;
  font-weight: 600;
}

/*
 * Base structure
 */
.base {
  background-color: #fff;
  height: 100%;
}

.btn-xl {
  border-radius: 0.3rem;
  font-family: 'Open Sans', sans-serif;
  font-size: 2.0rem;
  font-weight: 600;
  line-height: 1.5;
  padding: 0.5rem 1rem;
}

p {
  color: #fff;
  font-family: 'Open Sans', sans-serif;
  font-size: 1.5rem;
  font-weight: 600; 
}

#greeting-message {
  background-color: rgba(38, 38, 38, .9);
  padding: 2rem;
  position: absolute;
  width: 30%;
  z-index: 9;
}

.nav-item.nav-link.active {
  border-bottom: 3px solid black;
}

.nav-item.nav-link:hover {
  border-bottom: 3px solid black;
}