a,
a:focus,
a:hover {
  font-family: 'Open Sans', sans-serif;
  font-weight: 600;
}

html,
body {
  background-color: #fff;
  height: 100%;
  width: 100%;
}

.btn-xl {
  border-radius: 0.3rem;
  line-height: 1.5;
  padding: 0.5rem 1rem;
}

p,
button {
  color: #fff;
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
  font-weight: 600;
}

#greeting-message {
  background-color: rgba(38, 38, 38, 0.65);
  height: auto;
  padding: 2rem;
  z-index: 7;
}

.picture-caption {
  padding: 5px 0 5px 0;
  background-color: rgba(0, 0, 0, 0.8);
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
  p,
  #greeting-message-button {
    font-size: 20px;
  }
}
