a,
a:focus,
a:hover {
  font-family: 'Open Sans', sans-serif;
  font-weight: 600;
}

.base {
  background-color: #fff;
  height: 100%;
}

.btn-xl {
  border-radius: 0.3rem;
  line-height: 1.5;
  padding: 0.5rem 1rem;
}

p, 
button {
  color: #fff;
  font-family: 'Open Sans', sans-serif;
  font-size: 15px;
  font-weight: 600; 
}

#greeting-message {
  background-color: rgba(38, 38, 38, .9);
  height: 20%;
  padding: 2rem;
  position: absolute;
  width: 30%;
  z-index: 9;
}

.picture-caption {
  background-color: rgba(38, 38, 38, .45);
}

#active {
  border-bottom: 3px solid black;
}

.hover-underline:hover {
  border-bottom: 3px solid black;
}

.dim {
  box-shadow: 0 0 0 100vmax rgba(0, 0, 0, .3);
  pointer-events: none;
}

label[for="autoComplete"] { 
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}

#selectionContainer {
  overflow-x: auto;
}

/* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) {  
 
}