span.active,
span.non-active:hover {
  border-bottom: 3px solid black;
}

#brand-logo {
  height: 45px;
  width: auto;
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
  #brand-logo {
    height: 75px;
    width: auto;
  }

  #sign-in {
    color: #fff;
    font-family: 'Open Sans', sans-serif;
    font-size: 20px;
    font-weight: 600; 
  }
}
