a {
  color: black;
}

i:hover {
  border-bottom: 3px solid black;
}

.imgwrap {
  margin: auto;
  width: 50%;
}

.imgwrap img {
  display: block;
  height: auto;
  margin: auto;
  width: 100%;
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
  .imgwrap {
    width: 25%;
  }
  .imgwrap img {
    max-width: 500px;
  }
}
