a {
  color: black;
}

i:hover {
  border-bottom: 3px solid black;
}

.imgwrap {
  margin: auto;
  width: 50%;
}

.imgwrap img {
  display: block;
  height: auto; 
  margin: auto;
  width: 100%;
}

@media only screen and (min-width: 768px) {
  .imgwrap {
    margin: auto;
    width: 25%;
  }

  .imgwrap img {
    display: block;
    height: auto; 
    margin: auto;
    max-width: 500px;
    width: 100%;
  }

}