#sign-in-container {
  box-shadow: 0 0 0 100vmax rgba(0, 0, 0, .3);
  display: none;
  z-index: 9;
}

#profile-picture {
  height: 45px;
  width: auto;
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
  #profile-picture {
    height: 75px;
    width: auto;
  }
}
